@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Utilities (Optional) */
.bg-hero {
    background-image: url('https://source.unsplash.com/1600x900/?finance,planning');
    background-size: cover;
    background-position: center;
}

/* Define Giaza Font */
@font-face {
    font-family: 'Giaza';
    src: url('../../public/fonts/Giaza.otf') format('opentype');
    font-weight: 400; /* Regular weight */
    font-style: normal;
}

.bg-primary {
    background-color: #043b0b;
  }
  
  .text-primary {
    color: #043b0b;
  }
  
  .hover\:bg-primary-light:hover {
    background-color: #4CAF50;
  }
  
  .text-neutral-dark {
    color: #2c3e50;
  }
  
  .bg-neutral-dark {
    background-color: #2c3e50;
  }
  
  .bg-neutral-charcoal {
    background-color: #34495e;
  }
  
  .border-gray-200 {
    border-color: #ecf0f1;
  }
  
  .hidden {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  